.main {
    position: relative;
    flex-grow: 1; 
    box-sizing: border-box;
    overflow: hidden;
    height: 70vh;
    width: 100vw;
    
    
   
    
    &__searchContainer {
        display: flex;
        box-sizing: border-box;
        
        justify-content: center;
        text-align: center;
        
       

    }

    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 4rem;
        
        height: 4vh;
        width: 100vw;
        

    }
    &__inputSearch {
        border: 1px solid white;
        border-radius: 1rem;
        height: 2.5rem;
        min-width: 70vw;
        background-color: rgba(255, 255, 255, 0.301);
        backdrop-filter: blur(5px);
    }
    &__buttonSearch {
        border-radius: 1rem;
        border: 1px solid rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.301);
        backdrop-filter: blur(5px);
    }
    &__buttonImg {
        height: 2.5rem;
        width: 2rem;
    }
    &__dashboardContainer {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.274);
        backdrop-filter: blur(4px);
        transition: all 1s ease-in-out;
        height: 65vh;
        width: 100vw;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        bottom: env(safe-area-inset-bottom, 3rem);
        
        
    }
    &__buttonDash {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.274);
        backdrop-filter: blur(4px);
        border-radius: 2rem;
        top: -5%;
        left: 50%;
        transform: translateX(-50%);
        border: none;
        
    }
    
}

.main__dashboardContainer.closed {
    /* Styles pour la position fermée */
    bottom: -55vh;
    
  }
  
  .main__dashboardContainer.open {
    /* Styles pour la position ouverte */
    bottom: 0;
    
    
  }