body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/nebu.jpg);
    background-size: cover;
    bottom: env(safe-area-inset-bottom);
    margin-bottom: 44px;
    
    
    
}
